:root {
  --black: #4D4C59;
  --purple: #F438D6;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
  font-size: 62.2%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, p{
  margin: 0;
}
